.table{	display:block; }
.row{ display: table-row; }
.cell{ 
	display: table-cell;	
	padding: .1cm .1cm .1cm .1cm; 
}
ul{list-style-type:none; padding:0; margin:0;}
body{
	background-image: url("bg.jpg");
	background-repeat: no-repeat;
	color: white;
	background-attachment: fixed;
	background-size: cover;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 15px;
}
#mainContainer{
	width:1600px;
	margin-left: auto;
	margin-right: auto;

}
#tabs{
	background-color: rgba(0,0,0,0.7);	
	display: inline-block;
	float:left;
}
#tabChar{
	position: relative;
	float: left;
	padding: 20px;
	border-top: 2px solid;
	border-left: 2px solid;
}
#edit{
	float: left;
	position: relative;
	padding: 20px;
	border: 2px solid;

}
#containerPink{
	background-color: rgba(0,0,0,0.7);
	width: 1600px;
	overflow: hidden;
}
#red{
	width: 960px;
	position: relative;
	float: left;
}
#blue{
	width: 960px;
	position: relative;
	float: left;
}
#greenLeft{
	width: 384px;
	position: relative;
	float: left;
	text-align: center;

}
#pinkNorth{
	width:384px;
	position: relative;
}
#orange{
	position: absolute;
	width:192px;
	left: 384px;
}
#greenMid{
	width:192px;
	position: relative;
	float:left;
	text-align: center;

}
#greenSouth{
	width:192px;
	position: relative;
	float:left;

}
#greenRight{
	width:384px;
	position: relative;
	float: right;
	text-align: center;
}
#pinkNorth2{
	width:384px;
	position: relative;

}
#pinkSouth2{
	width:384px;
	position: relative;
}
#pinkSouther{
	width:384px;
	position: relative;
	text-align: left;

}
#pinkSouther2{
	width:384px;
	position: relative;
	text-align: left;
}
#purpleContainer{
	position: absolute;
}
#purpleLeft{
	width:320px;
	position: relative;
	margin-left:960px;
	float:left;
}
#pinkUp{
	width:320px;
	position: relative;
	text-align: center;
}
#pinkDown{
	width:320px;
	position: relative;
	text-align: center;
}
#PinkDownDown{
	width:320px;
	position: relative;
}
#lightGreenLeft{
	width:160px;
	position: relative;
	float: left;
}
#lightGreenRight{
	width:160px;
	position: relative;
	float:right;
}
#purpleRight{
	width:320px;
	position: relative;
	float: right;
}
#armorImg{
	position: absolute;
	z-index: -1;
}
#head{
	position: absolute;
	margin-left: 35%;
	margin-top: 12%;
	border:2px solid;
}
#body{
	position: absolute;
	margin-left: 35%;
	margin-top: 40%;
	border:2px solid;
}
#rightArm{
	position: absolute;
	margin-left: 64%;
	margin-top: 50%;
	border:2px solid;
}
#leftArm{
	position: absolute;
	margin-top: 50%;
	border:2px solid;
}
#rightLeg{
	position: absolute;
	margin-left: 55%;
	margin-top: 98%;
	border:2px solid;
}
#leftLeg{
	position: absolute;
	margin-left: 15%;
	margin-top: 98%;
	border:2px solid;
}
#pinkUpper{
	width:320px;
	position: relative;
}
#pinkLower{
	width: 320px;
	position: absolute;
	margin-top: 446px;
	text-align: center;
}
#lightGreenLower{
	width:320px;
	position: absolute;
	margin-top: 800px;
	text-align: center;
}